<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Bought Histories</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="table-responsive">
          <table id="myTable" class="table table-bordered">
            <thead>
              <tr>
                <th>Order ID</th>   
                <th>Date</th>
                <th>Paid Amount</th>
                <th>Status</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody>
             {{#each orders}}
              <tr>
                <td class="hightlight">{{{orderId}}}</td>
                <td>{{{created_at}}}</td>
                <td>{{{totalAmount}}}</td>
                <td><span class="label label-info">{{{state}}}</span></td>
                <td>
                        <a href='order/{{{orderId}}}' type='button' class='btn btn-xs btn-custom'`><i class="fa fa-info-circle" aria-hidden="true"></i> View</button> 
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        </div>
    </div>